# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment files
.env
.venv

# OS files
.DS_Store
Thumbs.db
